# ==============================
# Dataset
# ==============================
raw/
archives/
datasets/

# ==============================
# Training outputs
# ==============================
runs/
logs/
submissions/

# ==============================
# Model weights
# ==============================
*.pt
*.pth
*.onnx
*.engine

# ==============================
# Generated metadata
# ==============================
metadata/

# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# System
# ==============================
.DS_Store
Thumbs.db
